<!-- <p>login works!</p> -->
<html>
    <head>
        <style>
            html {
                height: auto;
                background-color: rgb(173,216,230);
            }  
        </style>
    </head>
    <body>
        <div class="container" style="height: 946px; width: 25%;">
            <div class="section">
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <article class="tile is-child notification">
                            pee
                            <button class="button is-info" (click)="doTwitterLogin()">peepee</button>
                        </article>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="container"> -->
            <!-- <button class="button is-info" (click)="doTwitterLogin()">peepee</button> -->
        <!-- </div> -->
    </body>
</html>

